@import "vars";

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  //   justify-content: space-around;
  align-items: center;
  min-height: 53px;

  &__top-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  &__top-item + &__top-item {
    padding-left: 50px;
  }

  &__top-link {
    text-decoration: none;
    color: $font-color;
    padding: 15px 0 14px;
    text-decoration: none;
    transition: font-weight 0.3s;
  }
}
