$font-color: #2f3035;
$accent: #1c62cd;
$nav-bg: #f0f0f4;
$light: #fff;
$price-old-color: #c4c4c4;
$border-color: #cdcdcd;
$placeholder-color: #656464;

$main-font: "Noto Sans Display", sans-serif;
$secondary-font: "Barlow", sans-serif;
